<div class="content-medium">
  <header>
      <h1 class="mat-display-1">{{'community.title'|translate}}</h1>
  </header>

  <div id="community-columns">
    <div>
      <h2 class="title">Forum</h2>
      <p><a href="https://forum.cohabitat.io/" target="_blank">CoHabitat.io Community Forum <mat-icon>launch</mat-icon></a> is a place for discussing CoHabitat.io content and software. This is also a the place to ask your questions and answer those of others.</p>
    </div>
    <div>
      <h2 class="title">Comments</h2>
      <p>Every project and partner profile has its own comments section where related discussions take place.</p>
    </div>
    <div>
      <h2 class="title">Issue Tracker</h2>
      <p>If you spot a bug in the front-end software or the API, you can file a report on the <a href="https://github.com/urbaMonde/cohabitat-io-issue-tracker/issues" target="_blank">GitHub Issue Tracker <mat-icon>launch</mat-icon></a>.</p>
    </div>
  </div>
</div>
