<div *ngIf="comments" id="comments">
  <div class="not-logged-in" *ngIf="!authenticationService.currentUser">
    {{'comments.login-to-post'|translate}}
  </div>

  <mat-card *ngIf="authenticationService.currentUser">
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="postComment()">
        <formly-form
          [model]="formValues"
          [fields]="fields"
          [form]="form"></formly-form>
        <app-button-spinner
          [title]="'form.publish'|translate"
          [spinning]="formStatus.submitting">
        </app-button-spinner>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card *ngFor="let comment of comments.comments">
    <mat-card-header>
      <mat-card-title>{{comment.author.name}}</mat-card-title>
      <mat-card-subtitle>{{comment.attributes.created_at+'. Z'|timeago}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>{{comment.attributes.text}}</mat-card-content>
  </mat-card>

  <footer *ngIf="comments.pagination['current_page'] < comments.pagination['total_pages']">
    <app-button-spinner
      (click)="getComments(comments.pagination['current_page'] + 1)"
      [title]="'g.action.load-more'|translate"
      [style]="'stroked'"
      [spinning]="loadingMore">
    </app-button-spinner>
  </footer>
</div>
