<h1 class="mat-display-1">{{ 'legal.tos.title' | translate }}</h1>

<ul>

  <li>
    <strong>We do not take an editorial role:</strong>
    Because the CoHabitat.io Projects and Partners are collaboratively edited, all of the content that we host is provided by users like yourself, and we do not take an editorial role. This means that we generally do not monitor or edit the content, and we do not take any responsibility for this content. Similarly, we do not endorse any opinions expressed via our services, and we do not represent or guarantee the truthfulness, accuracy, or reliability of any submitted community content. Instead, we simply provide access to the content that your fellow users have contributed and edited.
  </li>

  <li>
    <strong>You are responsible for your own actions:</strong>
    You are legally responsible for your edits and contributions on CoHabitat.io, so for your own protection you should exercise caution and avoid contributing any content that may result in criminal or civil liability under any applicable laws. For clarity, applicable law includes at least the laws of Switzerland. Although we may not agree with such actions, we warn editors and contributors that authorities may seek to apply other country laws to you, including local laws where you live or where you view or edit content.
  </li>

</ul>
