<h1 class="mat-display-1">{{ 'authentication.password-reset.title' | translate }}</h1>

<div *ngIf="!token">
  <form *ngIf="!tokenFormStatus.success" [formGroup]="tokenForm" (ngSubmit)="submitToken()">
    <formly-form
      [model]="tokenFormValues"
      [fields]="tokenFormFields"
      [form]="tokenForm"></formly-form>
    <app-button-spinner
      [title]="'authentication.password-reset.form.token.button'|translate"
      [spinning]="tokenFormStatus.submitting">
    </app-button-spinner>
  </form>

  <app-notification *ngIf="tokenFormStatus.success" [success]="'authentication.password-reset.form.token.success'|translate"></app-notification>
</div>

<div *ngIf="token">
  <form *ngIf="!resetFormStatus.success" [formGroup]="resetForm" (ngSubmit)="submitPassword()">
    <formly-form
      [model]="resetFormValues"
      [fields]="resetFormFields"
      [form]="resetForm"></formly-form>
    <app-button-spinner
      [title]="'authentication.password-reset.form.password.button'|translate"
      [spinning]="resetFormStatus.submitting">
    </app-button-spinner>
  </form>

  <app-notification *ngIf="resetFormStatus.success" [success]="'authentication.password-reset.form.password.success'|translate"></app-notification>
</div>
